* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:host {
    /*background: sandybrown;*/
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    margin: 0;
    background: palegreen;
    flex: 1;
    position: relative;

    .cody-img {
        position: fixed;
        bottom: 1em;
        right: 1em;
    }
}