.list {
    padding: 1rem 1.2rem;

    @media screen and (min-width: 800px) {
        padding: 2rem 5rem;
    }

    .error {
        margin-top: 2rem;
        text-align: center;
        font-weight: 800;
    }
}

.card {
    background: transparent;
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    gap: 0.5em;
    margin-top: 2em;
}